@import "../../node_modules/bourbon-neat/app/assets/stylesheets/neat-helpers";

// Neat Overrides
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1280px;


$first-breakpoint-value: 400px;
$second-breakpoint-value: 700px;
$third-breakpoint-value: 1100px;
$nav-breakpoint-value: 1000px;

$small-screen: new-breakpoint(max-width em($first-breakpoint-value - 1) 2);
$medium-screen: new-breakpoint(min-width em($first-breakpoint-value) max-width em($second-breakpoint-value) 4);
$large-screen: new-breakpoint(min-width em($second-breakpoint-value + 1) max-width em($third-breakpoint-value - 1) 8);
$xl-screen: new-breakpoint(min-width em($third-breakpoint-value));

$visual-grid: true;
$visual-grid-index: back;
$visual-grid-color: rgba(15,16,76,.2);
